html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.superhero-card img{
    width: 200px;
    height: 300px;
}

.superhero-card img:hover{
    opacity: 0.5;
}
.new-superhero-form {
    width: 50%;
    height:75%;
    border: 1px solid black;
    border-radius: 10%;
    padding:2%;
}
.new-superhero-form input {
    margin: 5%;
}
.new-superhero-form label {
    margin: 5%;
}
#add-superhero-btn {
    margin-left:auto;
    margin-right:auto;
    width:30%;
    }
#add-superpower-btn {
    background-color: transparent;
    border-color:transparent;
    color: blue;
    margin-bottom: 5%;
}
.remove-superhero-input {
    background-color: transparent;
    border-color: transparent;
    color: red;
}