@page
@model SuperheroSocialClub.Pages.Superhero.AddSuperheroModel
@{
}
<div class="row h-100">
	<form method="post" class="new-superhero-form">
		<div class="col-12 d-flex">
			<div class="col-6">
				<label class="d-block">Image</label>

				<label class="d-block">Name:</label>
				<label class="d-block">Secret Identity:</label>
				<label class="d-block">Superpowers</label>

			</div>
			<div class="col-6">
				<input class="d-block" type="file" placeholder="Select image" />

				<input class="d-block" type="text" placeholder="Name" />
				<input class="d-block" type="text" placeholder="Secret identity" />
				<input class="d-block" type="text" placeholder="Superpower" />
			</div>
		</div>
		<a id="add-superhero-btn"class="btn btn-primary d-flex justify-content-center">Add superhero</a>

	</form>

	</div>
</div>

