@page
@model SuperheroSocialClub.Pages.Superhero.AddSuperheroModel
@{
}
<div class="row h-100">
	<form method="post" class="new-superhero-form">
		<div id="new-superhero-image-container" class="row h-25">
			<img />
		</div>
		<div class="col-12 d-flex">
			<div class="col-6">
				<label class="d-block">Image</label>
				<label class="d-block">Name:</label>
				<label class="d-block">Secret Identity:</label>
				<label class="d-block">Superpowers</label>

			</div>
			<div class="col-6" >
				<input class="d-block" type="file" placeholder="Select image" />

				<input class="d-block" type="text" placeholder="Name" />
				<input class="d-block" type="text" placeholder="Secret identity" />
				<div id="add-superpower-container">
					<input class="d-block" type="text" placeholder="Superpower" id="superpower-0" />
				</div>
				<button id="add-superpower-btn">+ Add superpower</button>

			</div>
		</div>
		<a id="add-superhero-btn"class="btn btn-primary d-flex justify-content-center">Add superhero</a>

	</form>

	</div>
</div>

